<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Library Application</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<main>
    <header>
        <a href="/"><h2>Library</h2></a>
    </header>
    <article>
        <div class="container">
            <h1>Something went wrong!</h1>
            <h2>Our Engineers are on it</h2>
            <p>Go to the library's <a href="/">homepage.</a></p>
        </div>
    </article>
</main>
</body>
</html>