<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Application</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <main>
        <header>
            <a href="/"><h2>Library</h2></a>
            <h3>Registration</h3>
        </header>
        <article>
            <div class="container">
                <form method="POST" th:action="@{/register}" th:object="${user}" id="registerForm">
                    <label for="name">Name: </label>
                    <input type="text" th:field="*{name}">
                    <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name validation error</span>
                    <br>
                    <label for="lastName">Last Name: </label>
                    <input type="text" th:field="*{lastName}">
                    <span class="validationError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName validation error</span>
                    <br>
                    <label for="email">Email: </label>
                    <input type="email" th:field="*{email}">
                    <span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email validation error</span>
                    <br>
                    <label for="password">Password: </label>
                    <input type="password" th:field="*{password}">
                    <span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password validation error</span>
                    <br>
                    <label for="address">Address: </label>
                    <input type="text" th:field="*{address}">
                    <span class="validationError" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address validation error</span>
                    <br>
                    <label for="phoneNumber">Phone nr: </label>
                    <input type="text" th:field="*{phoneNumber}">
                    <span class="validationError" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone validation error</span>
                    <br>
                    <input type="submit" value="Register">
                </form>
            </div>
        </article>
    </main>
</body>
</html>