<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Library User</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<main>
    <header>
        <a href="/"><h2>Library</h2></a>
        <h3>User Info</h3>
    </header>
    <article>
        <form method="POST" th:action="@{/logout}">
            <input type="submit" value="Logout">
        </form>
        <div class="container">
            <div th:each="book: ${books}">
                <p th:text="${book.title}">title</p>
            </div>
        </div>
    </article>
</main>
</body>
</html>